* {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

nav input {
    float: right;
    padding: 8px 12px;
    text-decoration: none;
    border: 2px solid #bbb;
    border-radius: 10px;
    margin: 0 5px;
}

nav li {
    display: block;
    color: white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

nav li:hover {
    background-color: violet;
}

nav input:hover {
    background-color: violet;
}

.sec1 {
    display: block;
    height: 300px;
    text-align: center;
    width: 100%;
    background-color: limegreen;
}

.sec1 h1 {
    padding: 10px;
    font-size: 30px;
}

.sec1 input {
    border: 5px solid lightsalmon;
    padding: 14px 16px;
    margin: 10px;
    font-size: 16px;
    background-color: tomato;
    color: wheat;
}

.sec2 {
    display: block;
    height: 250px;
    text-align: center;
    width: 100%;
    background-color: lightseagreen;
}

.sec2 h1 {
    text-decoration: underline solid red;
    font-size: 30px;
    padding: 10px;
}

.flex-cont div {
    text-align: center;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    border-style: outset;
    opacity: 1.0;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
}

.flex-cont {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
}

.flex-cont input {
    font-size: 16px;
    padding: 14px 16px;
    background-color: tomato;
    color: wheat;
    box-sizing: border-box;
}

.sec3 {
    display: block;
    height: 250px;
    text-align: center;
    width: 100%;
    background-color: lightgreen;
}

.sec3 h1 {
    text-decoration: underline solid red;
    font-size: 30px;
    padding: 10px;
}

.flex-cont2 div {
    text-align: center;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    box-shadow: lightcyan;
    border-style: outset;
    opacity: 1.0;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
}

.flex-cont2 {
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
}

.flex-cont2 input {
    font-size: 16px;
    padding: 14px 16px;
    background-color: tomato;
    color: wheat;
    box-sizing: border-box;
}

.flex-cont2 a {
    color: lightslategrey;
}

@media screen and (max-width:600px) {
    .flex-cont img {
        height: auto;
        width: 20%;
        align-content: center;
    }
    nav input {
        display: block;
        float: none;
    }
    nav li {
        display: block;
        float: none;
    }
    .in {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:992px) {
    .in {
        display: flex;
        flex-direction: row;
    }
}